// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.restaurant {
  background: rgba(0,0,0,0.1);
  padding: 10px 15px;
  margin: 10px 0px;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
a {
  color: #393e46;
}

a p {
  color: rgba(0,0,0,0.8);
}

a:hover {
  color: #00adb5;
  text-decoration: none;
}
a:hover p {
  color: #00adb5;
  text-decoration: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
// ::-webkit-scrollbar {
//   width: 0px;  /* Remove scrollbar space */
//   background: transparent;  /* Optional: just make scrollbar invisible */
// }
// /* Optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//   background: #FF0000;
// }